{
  "root": true,
  "extends": "@1stg",
  "settings": {
    "node": {
      "allowModules": [
        "stated-bean"
      ]
    }
  },
  "rules": {
    "@typescript-eslint/no-floating-promises": 0,
    "@typescript-eslint/no-unnecessary-condition": 0,
    "@typescript-eslint/require-await": 0,
    "react/jsx-handler-names": 0
  }
}
